<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <title>Weekly Stats</title>
</head>
<body>
  <h2>Weekly Stats for Week <%= @week_number %></h2>
  <%= raw @weekly_stats_html %>
</body>
</html>
