<div class="text-center">
<h1>Church Statistics</h1>

<% if user_signed_in? %>
  <p>Welcome, <%= current_user.email %></p>
    <div>
      <%= link_to "Dashboard", dashboard_path, class: "btn btn-info" %>
      <%= link_to "New Count", new_count_path, class: "btn btn-primary" %>
  </div>


<% else %>
  <p>Please Login</p>
  <div>
      <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
  </div>
<% end %>



</div>
